.main_container {
  color: var(--secondary);
  font-weight: bold !important;
  font-size: x-large !important;
  text-transform: capitalize;
}

.form {
  width: 500px;
  margin: 3rem auto auto auto;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 767px) {
  .form {
    width: 100%;
  }
}
