:root {
  --primary: #f27649;
  --secondary: #0c4d71;
  --accent: #3688b5;
}

* {
  padding: 0;
  margin: 0;
}

.auth-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
}
.form-style {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.MuiClockPointer-thumb {
  border: 16px solid var(--primary);
  background-color: var(--primary);
}

.MuiClock-pin {
  background-color: var(--primary);
}

.MuiClockPointer-root {
  background-color: var(--primary);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

/* Autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fef4f1ff inset !important;
}
