.detailedTableRow {
  background-color: var(--secondary) !important;
}

.detailedTableRow > th {
  color: white !important;
}

.tableDetailRowTableHead {
  position: sticky !important;
  top: 0 !important;
  z-index: 1 !important;
  background-color: var(--secondary) !important;
  color: #fff !important;
}

.paginationContainer {
  float: right;
  padding: 16px 0;
}
